*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build

*.db
*.pickle
.RData
.Rhistory

dist/
htmlcov/
MANIFEST
doc/_build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
doc/min_dependency_table.rst
doc/min_dependency_substitutions.rst
*.pdf
pip-log.txt
*.egg-info/
.coverage
coverage
*.py,cover
.tags*
tags
covtype.data.gz
coverages
samples
doc/coverages
doc/samples
*.prof
.tox/
.coverage
pip-wheel-metadata

*.nt.bz2
*.tar.gz
*.tgz


*.prefs
.pydevproject
.idea
.vscode

*.c
*.cpp

!/**/src/**/*.c
!/**/src/**/*.cpp
*.sln
*.pyproj

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d

# Used by mypy
.mypy_cache/
.Rproj.user
