# pandas<2.0.0, because ...
# s
################################################################################
azure-identity
azure-keyvault-secrets 
boto3
fastapi[all]
fastapi-pagination
frozendict
google-api-python-client 
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
openai[all]
pandas
pydantic
pymupdf
requests
tenacity
typer
uvicorn