
# Data
data/
results/
log/
*.log
*.pdf
*.csv
*.html
*.tar.gz

# Python related
*.pyc

# R related
.RData
*.RData
.Rhistory
.Rproj.user

# System files
*.DS_Store

# Virtual environment
venv/

# IDE
.idea/
__pycache__
.*.swp
.*.swo

# Packrat additions
packrat/lib*/
packrat/src/
