numpy
scipy
pandas
joblib
scikit-learn
matplotlib
seaborn
plotly
https://github.com/xinh3ng/pydsutils/raw/master/packages/pydsutils-0.7.0-py2.py3-none-any.whl
https://github.com/xinh3ng/pymlearn/raw/master/packages/pymlearn-0.7.2-py2.py3-none-any.whl
