black
databricks-connect
numpy
scipy
pandas
flask
kafka-python
requests
scrapy
splash
scrapy-splash
BeautifulSoup4

https://github.com/xinh3ng/pydsutils/raw/master/packages/pydsutils-0.7.2-py2.py3-none-any.whl
