numpy
scipy
pandas
matplotlib
h5py
scikit-learn
opencv-python
opencv-contrib-python
keras
gym
nltk
spacy
gensim

pyqt5
spyder
ipykernel

https://github.com/xinh3ng/pydsutils/raw/master/packages/pydsutils-0.7.1-py2.py3-none-any.whl
https://github.com/xinh3ng/pymlearn/raw/master/packages/pymlearn-0.8.3-py2.py3-none-any.whl

